@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

* {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.space-children-p p {
    margin-bottom: 1.5rem;
}

/* Remove background color from scrollbar track */
::-webkit-scrollbar {
    width: 12px;
    /* Customize width if needed */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Make track transparent */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set thumb color */
    border-radius: 10px;
    /* Optional: round the corners */
    border: 2px solid transparent;
    /* Adjust border to give a better look */
}

/* Optional: Hover effects for scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.video-noplay::-webkit-media-controls {
    display: none !important;
}

.video-noplay::-webkit-media-controls-overlay-play-button {
    display: none !important;
}